<div class="row">

    <div class="col-md-8">

        <!-- Blog list -->
        <ul id="posts-list">
            <!--
            {% for post in site.posts %}
            <li class="posts-list-item">
                <div class="posts-content">
                    <span class="posts-list-meta">{{ post.date | date: "%Y-%m-%d" }}</span>
                    <a class="posts-list-name bubble-float-left" href="{{ site.url }}{{ post.url }}">a catName{{ post.title }}</a>
                    <span class='circle'></span>
                </div>
            </li>
            {% endfor %}-->
        </ul>
	
        <!-- Pagination -->
        {% include pagination.html %}

    </div>

	<div class="col-md-4">
        {% include sidebar-post-tag.html %}
    </div>

</div>

<script>
    (function ($) {
        $.getUrlParam = function (name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return '';
        }
    })(jQuery);

    var dataStr = '{ {% for cat in site.categories %}{% if cat[0] != site.categories.first[0] %},{% endif %}"{{ cat[0] }}":[{% for post in cat[1] %}{% if post != cat[1].first %},{% endif %}{"url":"{{post.url}}", "title":"{{post.title}}", "date":"{{post.date | date:"%Y-%m-%d"}}"}{% endfor %}]{% endfor %} }';
    var data = JSON.parse(dataStr);
    var curCat = $.getUrlParam('cat');
    var articleList = [];
    
    if(data[curCat]) {
    	articleList = data[curCat];
    } else {
    	for(var catName in data)
    	{
    	    articleList = articleList.concat(data[catName]);
    	}
    }
    
    var html = '';
    for(var i = articleList.length - 1; i >= 0; i--)
    {
    	var article = articleList[i];
    	//html += article.title;
    	
    	html += '<li class="posts-list-item">';
	    html += '	<div class="posts-content">';
	    html += '		<span class="posts-list-meta">' + article.date + '</span>';
	    html += '		<a class="posts-list-name bubble-float-left" href="' + article.url + '">' + article.title + '</a>';
	    html += '       <span class="circle"></span>';
	    html += '    </div>';
	    html += '</li>';
    }
    $("#posts-list").html(html);

    $(document).ready(function(){

        // Enable bootstrap tooltip
        $("body").tooltip({ selector: '[data-toggle=tooltip]' });

    });
</script>
